extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class="img-fluid")
            .col-md-7 
                h1=pagina
                blockquote ipsum dolor sit amet consectetur adipisicing elit. Dicta et ratione expedita ut officia facere iste nemo minus ea praesentium odio cupiditate placeat temporibus in voluptates, aliquam veritatis consequuntur at. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium odit at odio similique? Odio sed, laudantium rem natus minima necessitatibus recusandae omnis tempore suscipit obcaecati iste laboriosam temporibus eius voluptas. .
                
                p ipsum dolor sit amet consectetur adipisicing elit. Dicta et ratione expedita ut officia facere iste nemo minus ea praesentium odio cupiditate placeat temporibus in voluptates, aliquam veritatis consequuntur at. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium odit at odio similique? Odio sed, laudantium rem natus minima necessitatibus recusandae omnis tempore suscipit obcaecati iste laboriosam temporibus eius voluptas.
                
                p ipsum dolor sit amet consectetur adipisicing elit. Dicta et ratione expedita ut officia facere iste nemo minus ea praesentium odio cupiditate placeat temporibus in voluptates, aliquam veritatis consequuntur at. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium odit at odio similique? Odio sed, laudantium rem natus minima necessitatibus recusandae omnis tempore suscipit obcaecati iste laboriosam temporibus eius voluptas.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p ipsum dolor, sit amet consectetur adipisicing elit. Libero ad, mollitia illo deserunt nostrum doloribus consequuntur optio vitae, a eius nulla quaerat natus adipisci illum non? Provident magnam nam at.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p ipsum dolor, sit amet consectetur adipisicing elit. Libero ad, mollitia illo deserunt nostrum doloribus consequuntur optio vitae, a eius nulla quaerat natus adipisci illum non? Provident magnam nam at.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p ipsum dolor, sit amet consectetur adipisicing elit. Libero ad, mollitia illo deserunt nostrum doloribus consequuntur optio vitae, a eius nulla quaerat natus adipisci illum non? Provident magnam nam at.